<div class="bg-white shadow overflow-hidden sm:rounded-lg" *ngIf="auftrag">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">{{auftrag.bestellNummer}}</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">Auftrag details.</p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
            <div class="sm:col-span-2">
                <div class="text-sm font-medium text-gray-500">Addresses</div>
            </div>
            <div class="sm:col-span-1">
                <div class="mt-1 text-sm text-gray-900">
                    <div class="text-sm font-medium font-extrabold text-gray-500">{{auftrag.lieferadresse.name}}</div>
                    <div class="text-sm font-medium text-gray-500">{{auftrag.lieferadresse.strasse}}</div>
                    <div class="mt-1 text-sm text-gray-900">{{auftrag.lieferadresse.plz}} {{auftrag.lieferadresse.ort}}</div>
                </div>
            </div>
        </dl>
    </div>
</div>
